.section-1 {
    background-image: url("../../media/image/stone.jpg");
}
.grediant-black {
    background: linear-gradient(359deg, black, transparent);
}
.section-2 {
    background: linear-gradient(180deg, black, transparent);
}
.body-content {
    background: linear-gradient(360deg, black, transparent);
}
footer {
    border-top: 1px solid #4a5252;
}
.photo img {
    border: 7px solid white;
}
.photo {
    margin: 14px;
    width:30%;
}
.clm{
    border: 1px solid white;
    margin: 11px;
}
.sub-wrapper {
    background: linear-gradient(342deg, #5067b1, transparent);
}
.section-c-1 {
    padding: 62px 0px 62px 416px;
}
.contact-form {
    background: linear-gradient(245deg, #1a4965, transparent);
}
.gallery img {
    border: 8px solid black;
}

/*Style for Img

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    position: fixed;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
     
}
    
/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
    
.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 30%;
}
    
/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    position: absolute;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    /* border: 1px solid white; */
    border-radius: 3px;
}
    
/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    overflow:scroll;
}

.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: 7rem;
    left: 47rem;
    text-align: center;
    color: #db0d0d;
    font-size: 32px;
}

.lightbox-target {
    left:0;
}

label:after {
    content: '+';
    position: absolute;
    right: 1em;
    color: #fff;
}
  
input:checked + label:after {
    content: '-';
    line-height: .8em;
}

.accordion__content{
    max-height: 0em;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
input[name='panel']:checked ~ .accordion__content {
    max-height: 50em;
}
.accordion div {
    cursor: inherit;
}
.error {
    color:red;
}
  